@import '~antd/dist/antd.css';

.App {
  text-align: center;
}


.app-header {
  background-color: #0062d9;
  height: auto;
  padding: 20px;

}
.app-content{

  padding: 150px;
  height: auto;
  background-color: white;

}
